<div class="jumbotron center">
	<div class="container center">
	<h1>About us <span class="label label-info">Go!</span></H1>
	<p>We are working on our One Month Rails Pinteresting app!</p>
	<nav>
</nav>
</div>
</div>
<%= render 'pages/pagination' %>