<div class="jumbotron">
	<div class="container">
	<h1>About us <span class="label label-info">Go!</span></H1>
	<p>We are working on our One Month Rails Pinteresting app!</p>
	<nav>
  <%= render 'pages/pagination' %>
</nav>
</div>